* {
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  background-color: hsl(228, 33%, 97%);
}

.comment-div {
  color: hsl(211, 10%, 45%);
  font-weight: 400;
  background-color: white;
  padding: 15px;
  border-radius: 6px;
  margin: 15px 7px;
}

.reply-div {
  background-color: white;
  color: hsl(211, 10%, 45%);
  padding: 15px;
  border-radius: 6px;
  margin: 0px 7px 15px 20px;
}

.user-avatar,
.current-user-avatar {
  width: 35px;
}

.username {
  color: hsl(212, 24%, 26%);
  cursor: pointer;
  font-weight: bold;
  display: inline;
  align-content: center;
  margin: 0px 5px;
}

.post-date {
  margin: 0px 5px;
}

.mention-username {
  color: hsl(249deg 45% 42%);
  font-weight: bold;
}

.posted-comment,
.posted-reply {
  color: hsl(211, 10%, 45%);
}

.votes {
  display: inline;
  justify-content: space-between;
  background-color: hsl(228, 33%, 97%);
  border-radius: 10px;
  padding: 5px 15px;
}

.minus,
.plus {
  cursor: pointer;
  color: hsl(211, 10%, 45%);
  background-color: hsl(228, 33%, 97%);
  border: none;
}

.current-votes {
  color: hsl(249deg 45% 42%);
  font-weight: bold;
}

.reply-button-container {
  display: inline;
  float: right;
}

.arrow-icon {
  width: 15px;
}

.main-comment-reply-button {
  cursor: pointer;
  color: hsl(249deg 45% 42%);
  background-color: white;
  border: none;
  font-weight: 700;
}

.comment-reply-div {
  display: flex;
  flex-direction: row;
  margin: 20px 3px;
}

.input {
  border: solid hsl(211, 10%, 45%);
  border-radius: 8px;
  border-width: 1px;
  margin: 0px 10px;
  width: 100%;
}

.input:focus {
  border: solid hsl(249deg 45% 42%);
  outline: none;
  border-width: 2px;
}

.input-reply-button {
  background-color: hsl(249deg 45% 42%);
  border-radius: 8px;
  border-width: inherit;
  color: white;
  font-size: medium;
}

.new-comment-container {
  display: flex;
  padding: 17px;
  background-color: white;
  border-radius: 6px;
  margin-left: 6px;
  margin-right: 6px;
}

.new-comment-input {
  border: solid hsl(211, 10%, 45%);
  border-radius: 6px;
  border-width: 1px;
  width: 100%; /* not sure if i should use this */
  margin: 0px 10px;
}

.new-comment-input:focus {
  border: 2px solid hsl(249deg 45% 42%);
  outline: none;
  border-width: 2px;
}

.posted-new-comment-container {
  background-color: white;
  border-radius: 6px;
  margin: 15px 7px;
  padding: 15px;
}

.delete-and-edit-button-container {
  display: inline;
  float: right;
}

.edit-button {
  color: hsl(249deg 45% 42%);
  background-color: white;
  border: 2px solid white;
  font-size: inherit;
  font-weight: bold;
}

.delete-button {
  color: red;
  background-color: white;
  border: 2px solid white;
  font-size: inherit;
  font-weight: bold;
}

.posted-comment-reply-container {
  background-color: white;
  border-radius: 6px;
  margin: 15px 7px;
  padding: 15px;
}

.add-new-comment-container {
  display: flex;
  background-color: white;
  border-radius: 6px;
  margin: 7px;
  padding: 20px;
}

.add-new-comment {
  border-width: 1px;
  border-color: hsl(249deg 45% 42%);
  margin: 0px 10px;
  padding: 9px;
}

.new-comment-send-button {
  background-color: hsl(249deg 45% 42%);
  color: white;
  cursor: pointer;
  border-radius: 7px;
  padding: 5px 15px;
  letter-spacing: 0.1em;
  border: none;
}
/* color: hsl(212, 24%, 26%); use this for: 
username/handles, reply button font, icon reply, currentVotes, edit button font, send button background color */

@media screen and (min-width: 1440px) {
  .input-reply-button:hover {
    opacity: 50%;
  }

  .mention-username:hover {
    cursor: pointer;
  }
}
